/* Global Styles */
body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}



/* Form Styles */
.options-form {
    flex: 1;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
    margin-right: 10px;
}

/* Post Preview Styles */
.right-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
}

.post-preview-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    max-width: 400px;
    margin-top: 20vh;
}


.swiper-slide {
    z-index: -2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    height: 100%;
    margin-bottom: 4px;
}


.section-company {
    color: #454545;
    font-size: 16px;
    font-family: "Titillium Web";
    line-height: 21px;
    font-weight: 400;
    padding-top: 10px;
}

.section-author-date {
    color: #454545;
    font-size: 14px;
    font-family: "Titillium Web";
    font-weight: 300;
    line-height: 18px;

    padding-top: 10px;
    gap: 3px;
    margin-bottom: 10px;
}

.section-body {

    text-align: center;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 60px;
    color: #adb5bd;
    font-size: 16px;
    font-family: "Titillium Web";
    -webkit-line-clamp: 5;
}

.section-interactions {
    color: #454545;
    font-size: 14px;
    font-family: "Titillium Web";
    font-weight: 300;
    line-height: 18px;

    padding-right: 7px;
    width: 100%;
    position: absolute;
    bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
}

.li-icon-white {

    width: 100%;
    position: absolute;
    top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.li-post-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
}

.img-container {
    z-index: -1;
    min-height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.info-container {
    z-index: -1;
    height: 40%;
    max-height: 40%;
    display: flex;
    flex-direction: column;
}

.li-single-img {
    flex-grow: 1;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.li-img-two {
    flex-grow: 1;
    height: 50%;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.li-img-three-main {
    flex-grow: 1;
    height: 70%;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.li-img-three-sec-container {
    flex-grow: 1;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
}

.li-img-three-sec {
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.li-author-img {
    margin-top: -15px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 60px;
    width: 60px;
    height: 60px;
    border-radius: 10000px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* Wrapper styles */
.li-form-wrap {
    display: flex;
    justify-content: space-between;
}

/* Options Form Container */
.options-form-container {
    width: 48%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.options-form .form-field {
    margin-bottom: 20px;
}

/* Post Preview Container */
.post-preview-container {
    width: 48%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}




/* Modern Font and Responsive Typography */
body {
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 1.6;
}

input[type="number"],
input[type="color"],
select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

/* WordPress Admin-Friendly Styles */
.wp-core-ui .button-primary {
    background: #0073aa;
    border-color: #0073aa;
    color: #fff;
    text-shadow: none;
    box-shadow: none;
}