/* style.css 
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  */


/* Table Styles */

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid #ccd0d4;
  border-radius: 4px;
  overflow: hidden;
  /* Add overflow property */
}


.custom-table td {
  /* Removed display: flex; */
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: 1px solid #ccd0d4;
  text-align: left;
}

.custom-table th {
  padding: 12px;
  border-bottom: 1px solid #ccd0d4;
  text-align: left;
}

.custom-table th {
  background-color: #007cba;
  color: #fff;
}

.custom-table tbody tr {
  width: 100%;
  /* Removed display: flex; */

  /* Add hover effect */
}

.custom-table td,
.custom-table th {
  vertical-align: middle;
}

.custom-table tbody tr:hover {
  background-color: #cde2ff;
  /* Add hover effect */
}


/* Button Styles */
button.publish-button,
form input[type="submit"],
button.up-button,
button.down-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.publish-button {
  background-color: #28a745;
  /* Green color */
  color: #fff;
}

button.publish-button[data-published="1"] {
  background-color: #28a745;
  /* Green color */
  color: #fff;
}

button.publish-button[data-published="1"]:hover {
  background-color: #d9534f;
  /* Red color */
}

button.publish-button[data-published="0"] {
  background-color: #f0f0f0;
  /* Light grey color */
  color: #000;
}

button.publish-button[data-published="0"]:hover {
  background-color: #28a745;
  /* Green color */
}


form input[type="submit"] {
  background-color: #d9534f;
  color: #fff;
}

form input[type="submit"]:hover {
  background-color: darken(#d9534f, 10%);
}

/* Loading Animation */
.loading {
  font-weight: bold;
  animation: loadingDots 1.5s infinite;
}

@keyframes loadingDots {
  0% {
    content: ".";
  }

  25% {
    content: "..";
  }

  50% {
    content: "...";
  }

  75% {
    content: "..";
  }

  100% {
    content: ".";
  }
}

/* Column & Thumbnail Styles */
.custom-table th:nth-child(1),
.custom-table td:nth-child(1) {
  display: none;
  /* Hide both header and cell */
  /* Use percentage for more responsive design */
}

.custom-table th:nth-child(2),
.custom-table td:nth-child(2) {
  width: 5%;
  /* Use percentage for more responsive design */
}



.custom-table th:nth-child(6),
.custom-table td:nth-child(6) {
  width: 10%;
  /* Use percentage for more responsive design */
}

.custom-table th:nth-child(7),
.custom-table td:nth-child(7) {
  width: 7%;
  /* Use percentage for more responsive design */
}

/* ... rest of the column styles ... */

/* Up & Down Button Styles */




/* Table Row Styles */
.table-row-class {
  /* Removed display: flex; 
  flex-direction: row;*/


}

/* Thumbnail Cell Styles */
.thumbnail-cell {
  align-items: center;
  justify-content: center;
  /* Ensure the cell grows to accommodate the image */
  flex-grow: 1;
}

/* Thumbnail Image Styles */
.thumbnail-image {
  /* If you want to control the image size, you can set a max-width and max-height */
  max-width: 100px;
  max-height: 100px;
  /* Ensure the image retains its aspect ratio */
  object-fit: cover;
}

.action-buttons {
  display: flex;
  gap: 10px;
  /* Adjust gap size as needed */
}

.action-buttons form,
.action-buttons button {
  flex: 1;
}

.up-down-wrapper button {
  background-color: #007cba;
  cursor: pointer;
  padding: 0;
  width: 30px;
  /* Adjust size as needed */
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  /* Adjust gap size as needed */
  border-radius: 4px;
}

.up-down-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* Adjust gap size as needed */
}