/* style.css 
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  */
  /* Table Styles */
table.widefat {
  margin-top: 20px;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #ccd0d4;
  border-radius: 4px;
}

table.widefat th,
table.widefat td {
  padding: 12px;
  border-bottom: 1px solid #ccd0d4;
}

table.widefat th {
  background-color: #007cba;
  color: #fff;
  text-align: left;
}

/* Button Styles */
button.publish-button,
form input[type=submit] {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.publish-button {
  background-color: #007cba;
  color: #fff;
}

form input[type=submit] {
  background-color: #d9534f;
  color: #fff;
}

button.publish-button:hover,
form input[type=submit]:hover {
  background-color: darken(#007cba, 10%);
}

/* Loading Animation */
.loading {
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(359deg);
  }
}
